dist
node_modules
/*.zip

scraper/Extreme Banners/

scraper/Songs/

scraper/extreme_out\.json

scraper/error_log\.txt

scraper/sm\.json

scraper/test\.json

scraper/test_out\.json

scraper/test/

scraper/build/

scraper/build-win-32/

scraper/__pycache__/

scraper/SM Scraper\.spec

scraper/pd\.pdy
